body {
  /* background-color: rgb(48, 47, 47); */
  background-image: url(./images/log-cabin-1886620_1280.jpg);
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
.card {
  width: 100%;
  max-width: 470px;
  background: linear-gradient(135deg, rgb(1, 255, 255), rgb(128, 0, 255));
  color: #fff;
  border-radius: 2rem;
  margin: 4rem auto 0rem;
  padding: 3rem 3.5rem;
  text-align: center;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  border: none;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 0.5rem 2.5rem;
  border-radius: 3rem;
  flex: 1;
  margin-right: 30px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.search button img {
  /* height: 30px; */
  width: 1rem;
}
.weather-icon {
  width: 9rem;
  margin-top: 2rem;
}
.weather h1 {
  font-size: 6rem;
  font-weight: 400;
}
.weather h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 3rem;
}
.col {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  text-align: left;
}
.col img {
  width: 2.5rem;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 1.8rem;
}
.weather {
  display: none;
}
.invalid {
  /* display: inline-block; */
  text-align: left;
  margin-top: 0.8rem;
  margin-left: 0.5rem;
  font-size: 0.8rem;
  display: none;
}
.rain {
  width: 100%;
  height: 180%;
  translate: 0 -50%;
  background-size: contain;
  background: url(images/rain-png-34459.png);
  animation: rain 0.9s linear infinite;
  position: absolute;
  z-index: -10;
  display: none;
}
.drizzle {
  width: 100%;
  height: 180%;
  translate: 0 -50%;
  background-size: contain;
  background: url(images/rain-png-34459.png);
  animation: drizzle 1.5s linear infinite;
  position: absolute;
  z-index: -10;
  /* background-repeat: no-repeat; */
  display: none;
}
.mist {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -10;
}
.mist img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: mist calc(8s * var(--i)) linear infinite;
}
/* .snow {
  width: 100%;
  height: 180%;
  translate: 0 -50%;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: contain; */
/* background: url(images/snoww.png);
  animation: snoww 10s linear infinite;
  position: absolute;
  z-index: -10; */

/* display: none; */
/* } */

@keyframes rain {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% 100%;
  }
}
@keyframes drizzle {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 20% 100%;
  }
}
@keyframes mist {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
